*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy-Bold', sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: white;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tilte{
    position: relative;
    
}
.tilte h2{
    position: relative;
    height: 26px;
    font-size: 22px;
line-height: 26px;
color: #5D7085;
left: 28.21%;
top: 11px;
}
.container{
   position: absolute;
    top:105px;
    display:flex;
    width: min(1600px,100%);
    left:419px;
}
.pricing-card{
    height: 601px;
    width: 266px;
   
    border-radius: 2px;
    margin:68px 6px;
    padding-top: 61px;
    padding-left: 34px;
    padding-bottom: 34px;
    text-align: left;
    color: #FFFFFF;
    overflow: hidden;
}
.pricing-card img{
    position: relative;
    height: 140px;
    width: 196.58px;
    left: -14px;
}

.pricing-card h3{
position: relative;
font-size: 21px;
line-height: 25px;
height: 26px;
width: 83px;

}
.pricing-card h4{
    position: relative;
    top:-20px;
    padding-bottom: 27px;
    height: 16px;
    width: 200px;
    font-size: 12px;
line-height: 16px;

}
.pricing-card ul{
    position: relative;
    top:-60px;
    left: 5px; 
    align-items: center;
    margin-top: 30px;
}
.pricing-card ul li  {
    text-align: left;
    font-size: 14px;
line-height: 16px;
margin-top: 16px;
}
.pricing-card ul li img{
margin-left: 10px;
height: 7.97px;
width: 9.5px;


}
.price{
    position: relative;
    top:-30px;
    
    font-size: 67px;
line-height: 79px;
letter-spacing: -0.1px;

color: #FFFFFF;

}
.price sup{
    position: relative;
    height: 24px;
    top: calc(50% - 24px/2 - 22px);
    bottom: 25px;
    font-size: 16px;
line-height: 24px;
}
.order-btn{
    
    position: absolute;
    top:593px;
    
    color: #FFFFFF ; 
    display: inline-block;
    margin:0px -10px;
    margin-bottom: 34px;

    border-radius:3px;
    border: 3px solid #FFFFFF;
    padding: 13px 51px 10px 51px;
}